@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global values */
:root {
  --background: #ffffff;
  --foreground: #171717;
  /* enable scroll bar light dark color */
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      -135deg,
      rgba(42, 47, 57, 0.2),
      rgba(34, 41, 60, 1),
      rgba(30, 39, 61, 0.4),
      rgba(26, 36, 59, 0.9),
      rgba(15, 23, 42, 0.2)
    );
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
